register page
<form action="/auth/register" method="POST">
    <input type="text" name="username" id="username" placeholder="Username" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <button type="submit">Submit</button>
</form>
<a href="/login">Login</a>
<style>
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    input, button{
        height: 5vh;
        width: 20vw;
    }
    style{
        display: none;
    }
</style>